/*    BASIC SETUP */
/* ======================= */

/* font-family: 'Anton', sans-serif; //for landing page
font-family: 'Fredoka One', cursive; //for titles
font-family: 'Open Sans', sans-serif; //for normal text
font-family: 'Tourney', cursive; //for logo*/


*{
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: #ffffff!important;
    font-family: 'Open Sans', sans-serif;
}

/* ========================== */
/*    Reuseable Components */
/* ========================== */

.text-anton{
    font-family: 'Anton', sans-serif;
}

.text-title{
    font-family: 'Fredoka One', cursive;
}

a{
    color: rgb(51, 49, 49);
}

a:hover{
    text-decoration: none;
}

.active{
    color: #ED1D25;
    box-shadow: 0 0 10rem #ed1d24f5;
}

.text-red{
    color: #ED1D25!important;
}

.bg-red{
    background-color: #ED1D25!important;
}

/* ========================== */
/*    Header Starts */
/* ========================== */

/* navbar starts */
.navbar{
    border: .05rem solid transparent;
    border-left: none;
    border-right: none;
    z-index: 999;
    box-shadow: 0px 0px 10rem rgba(247, 247, 247, 0.185);
    background-color: transparent;
    width: 100vw;
    padding: 1rem;
    position: fixed;
    backdrop-filter: blur(1rem);
    
}

.nav-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    display: inline-block;
    width: 8rem;
}

.logo-text{
    display: inline-block;
    font-size: 3rem;
    width: max-content;
    margin-left: 1rem;
    font-family: 'Tourney', cursive;
    color: white;
    font-weight: 500;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    position: initial;
}

.nav-items .nav-btn{
    color: white;
    display: inline-block;
    font-size: 1.6rem;
    padding: 10px 0;
    border: .1rem solid rgba(235, 235, 235, 0.336);
    padding: .8rem 2rem;
    margin: 0 1rem;
    transition: color .2s .1s,  font-weight  .5s, box-shadow .3s;
    font-weight: 500;
    border-radius: 1rem;
}

.nav-btn:hover{
    color: #ED1D25;
    font-weight: 700;
    box-shadow: 0 0 8rem #ed1d24ec;
}

.nav-btn:nth-child(3){
   display: none;
}

.nav-collapse{
    display: none;
    font-size: 3rem;
}

.profile{
    width: 6rem;
    border: 1px solid red;
    border-radius: 50%;
}


/* dropdown starts */
.dropdown{
    position: relative;
}

.dropdown-icon{
    transition: .3s;
}

.dropdown-items{
    position: absolute;
    top: 3.9rem;
    right: 1rem;
    width: 80%;
    text-align: center;
    display: none;
    border-radius: 1rem;
    overflow: hidden;
}

.dropdown:hover .dropdown-items{
    display: block;
}

.dropdown:hover .dropdown-icon{
    transform: rotate(180deg);
}

.dropdown-items .dropdown-item{
    display: block;
    padding: 1rem 2rem;
    color: gray;
    font-weight: 500;
    transition: .4s;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

.dropdown-item:hover{
    background-color: #007bff;
    color: white;
}

.dropdown-items .nav-btn{
    display: none;
}

/* dropdown Ends */

/* Join starts */

.profile-info{
    position: relative;
    color: white;
    font-family: 'Fredoka One', cursive;
}

.profile-info:hover{
    color: rgb(53, 50, 50);
}

.me:hover .profile-collapse{
    display: block;
}

.profile-collapse{
    display: none;
    overflow: none;
    position: absolute;
    flex-direction: column;
    text-align: left;
    right: 0;
    background-color: white;
    padding: 2rem 2rem;
    border-radius: .9rem;
}

.profile-collapse p{
    margin-bottom: 2rem;
}

.profile-collapse-item{
    color:  black;
    font-weight: bold;
    padding: 1rem;
    border-bottom: 1px solid black;
    
}
/* Join Ends */

/* navbar Ends */

/* ========================== */
/*    LANDING PAGE Starts */
/* ========================== */
#landing-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0s;
    animation: changeBg;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes changeBg {
    0%{
        background-image: url("../img/land-bg1.jpg");
    }
    25%{
        background-image: url("../img/land-bg2.jpg");
    }
    50%{
        background-image: url("../img/land-bg3.jpg");
    }
    75%{
        background-image: url("../img/land-bg4.jpg");
    }
    100%{
        background-image: url("../img/land-bg1.jpg");
    }

}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 0;
    
}

.hero{
    margin-top: 20%!important;
}

.hero h1{
    color: #ED1D25;
    font-size: 6rem;
    letter-spacing: .2rem;
    /* line-height: 10rem; */
}

.hero h2{
    font-size: 2rem;
    letter-spacing: .1rem;
}

.cd-headline {
    font-size: 4rem;
    text-transform: uppercase;
}

b i{
    font-style: normal;
}

.hero-btn{
    color: #0D0D0D;
    border: 3px solid #0d0d0d8a;
    margin-top: 10%;
    display: inline-block;
    padding: 0.5rem 8rem;
    font-size: 3rem;
    font-weight: 100;
    border-radius: 1rem;
    transition:color .4s,background-color .2s .2s ;
}

.hero-btn:hover{
    background-color: #0d0d0d8a;
    color: white;
}
